# Aplicação básica de XGboost

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

data = pd.read_csv('datasets/california_housing_train.csv')
data.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0

In [3]:
X = data.drop('median_house_value', axis=1)
y = data['median_house_value']

In [9]:
from sklearn.model_selection import train_test_split
from xgboost import XGBRegressor
from sklearn.metrics import mean_squared_error

xtr, xts, ytr, yts = train_test_split(X, y, random_state=0, test_size=0.5)
model = XGBRegressor(random_state=0) 
model.fit(xtr, ytr)

p = model.predict(xts)

print(np.sqrt(mean_squared_error(yts, p)))

49801.28134661544

1-47976.91015251997(padrão)