# Univariate analysis

In [4]:
import pandas as pd
df = pd.read_csv('http://www.ishelp.info/data/insurance.csv')
df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [5]:
df.describe()

               age          bmi     children       charges
count  1338.000000  1338.000000  1338.000000   1338.000000
mean     39.207025    30.663397     1.094918  13270.422265
std      14.049960     6.098187     1.205493  12110.011237
min      18.000000    15.960000     0.000000   1121.873900
25%      27.000000    26.296250     0.000000   4740.287150
50%      39.000000    30.400000     1.000000   9382.033000
75%      51.000000    34.693750     2.000000  16639.912515
max      64.000000    53.130000     5.000000  63770.428010

Algumas colunas não são mostradas no database. Essas colunas são as categóricas, e não são mostradas porque nem todas as métricas aplicam a elas.

In [7]:
df.columns

Index(['age', 'sex', 'bmi', 'children', 'smoker', 'region', 'charges'], dtype='object')

In [9]:
print("sex: {}".format(df.sex.count()))
print("smoker: {}".format(df.smoker.count()))
print("region: {}".format(df.region.count()))

sex: 1338
smoker: 1338
region: 1338

In [6]:
df.shape

(1338, 7)

In [11]:
print("age: {}".format(df.age.nunique()))
print("sex: {}".format(df.sex.nunique()))
print("bmi: {}".format(df.bmi.nunique()))
print("children: {}".format(df.children.nunique()))
print("smoker: {}".format(df.smoker.nunique()))
print("region: {}".format(df.region.nunique()))
print("charges: {}".format(df.charges.nunique()))

age: 47
sex: 2
bmi: 548
children: 6
smoker: 2
region: 4
charges: 1337

In [17]:
print("age: {}".format(df.age.dtypes))
print("sex: {}".format(df.sex.dtypes))
print("bmi: {}".format(df.bmi.dtypes))
print("children: {}".format(df.children.dtypes))
print("smoker: {}".format(df.smoker.dtypes))
print("region: {}".format(df.region.dtypes))
print("charges: {}".format(df.charges.dtypes))

age: int64
sex: object
bmi: float64
children: int64
smoker: object
region: object
charges: float64

In [20]:
print("age: {}".format(pd.api.types.is_numeric_dtype(df.age)))
print("sex: {}".format(pd.api.types.is_numeric_dtype(df.sex)))
print("bmi: {}".format(pd.api.types.is_numeric_dtype(df.bmi)))
print("children: {}".format(pd.api.types.is_numeric_dtype(df.children)))
print("smoker: {}".format(pd.api.types.is_numeric_dtype(df.smoker)))
print("region: {}".format(pd.api.types.is_numeric_dtype(df.region)))
print("charges: {}".format(pd.api.types.is_numeric_dtype(df.charges)))

age: True
sex: False
bmi: True
children: True
smoker: False
region: False
charges: True

In [21]:
print("age: {}".format(df.age.isnull().sum()))
print("sex: {}".format(df.sex.isnull().sum()))
print("bmi: {}".format(df.bmi.isnull().sum()))
print("children: {}".format(df.children.isnull().sum()))
print("smoker: {}".format(df.smoker.isnull().sum()))
print("region: {}".format(df.region.isnull().sum()))
print("charges: {}".format(df.charges.isnull().sum()))

age: 0
sex: 0
bmi: 0
children: 0
smoker: 0
region: 0
charges: 0

In [25]:
import numpy as np

df.charges.mode().values[0]

1639.5631

In [29]:
df.charges.std()
#Assume uma amostra

12110.011236693994

In [30]:
np.std(df.charges, ddof=1)
#Assume uma população, ddof faz com que use uma amostra.

12110.011236693994

Assimetria e Curtose

In [33]:
print(df.charges.skew())
print(df.charges.kurt())

1.5158796580240388
1.6062986532967907

Significa que temos muitos valores baixos e poucos valores que são altos. Viola a regra de assimetria aceitável, entre -1 e 1. E curtose também, significa que a curva está muito em pé. E não há valores tão espalhados.